:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-accent-low: hsl(267, 88%, 90%);
  --sl-color-accent: hsl(264, 90%, 60%);
  --sl-color-accent-high: hsl(275, 80%, 30%);

  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-text-invert: var(--sl-color-black);

  --sl-color-bg: var(--sl-color-gray-6);
  --sl-color-bg-nav: var(--sl-color-gray-7);
  --sl-color-bg-sidebar: var(--sl-color-gray-7);
  --sl-color-bg-inline-code: var(--sl-color-gray-6);
  --sl-color-bg-accent: var(--sl-color-accent);

  --sl-color-hairline-light: var(--sl-color-gray-6);
  --sl-color-hairline-shade: var(--sl-color-gray-6);

  --sl-color-backdrop-overlay: hsla(274, 9%, 36%, 0.66);
}
